In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
# Load Title Data
titleData =  pd.read_csv('C:/Users/jacob/Documents/UC Davis/ECS 272/Netflix/titles.csv')

In [3]:
# Load Credit Data
creditData = pd.read_csv('C:/Users/jacob/Documents/UC Davis/ECS 272/Netflix/credits.csv')

In [4]:
titleData

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5845,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.8,45.0,1.466,NaN
5846,tm898842,C/O Kaadhal,MOVIE,A heart warming film that explores the concept...,2021,NaN,134,['drama'],[],NaN,tt11803618,7.7,348.0,NaN,NaN
5847,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300
5848,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,[],['US'],NaN,NaN,NaN,NaN,1.296,10.000
5849,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,"['family', 'animation', 'comedy']",[],1.0,tt13711094,7.8,18.0,2.289,10.000

# Process Data To Find Movies And Extract Primary Genre

In [5]:
movies = titleData.loc[titleData['type']=='MOVIE'].reset_index(drop=True)

In [6]:
def remove_extra_characters(string):
    return string.replace("[","").replace("]","").replace("'","")

In [7]:
def get_primary(string):
    return string.split(', ')[0]

In [8]:
movies['genres']=movies['genres'].apply(remove_extra_characters)

In [9]:
movies['primary genre'] = movies['genres'].apply(get_primary)

In [10]:
movies['production_countries']=movies['production_countries'].apply(remove_extra_characters)

In [11]:
movies['primary country']=movies['production_countries'].apply(get_primary)

In [12]:
print(len(movies['primary country'].unique()))

94

# Find primary genre with most number of movies

In [13]:
movies2 = movies.groupby(['primary genre'])['primary genre'].count()

In [14]:
movies2 # According to this output, most movies on Netflix have comedy as the primary genre

primary genre
                  34
action           232
animation        130
comedy           961
crime            122
documentation    414
drama            882
family            56
fantasy           85
history           15
horror           107
music             55
reality            2
romance          222
scifi             75
sport              3
thriller         311
war               25
western           13
Name: primary genre, dtype: int64

In [15]:
comedies = movies.loc[movies['primary genre']=='comedy'].reset_index(drop=True)

In [16]:
comedies['release_year'].min()

1979

# Extract data for histogram of comedies per year

In [17]:
comediesPerYear = []
for year in sorted(comedies['release_year'].unique().tolist()):
    yearCount = len(comedies.loc[comedies['release_year']==year])
    comediesPerYear.append({'year':year,'count':yearCount})

In [18]:
comediesPerYear

[{'year': 1979, 'count': 2},
 {'year': 1982, 'count': 1},
 {'year': 1985, 'count': 1},
 {'year': 1987, 'count': 2},
 {'year': 1989, 'count': 5},
 {'year': 1990, 'count': 1},
 {'year': 1991, 'count': 4},
 {'year': 1992, 'count': 1},
 {'year': 1993, 'count': 2},
 {'year': 1994, 'count': 2},
 {'year': 1995, 'count': 1},
 {'year': 1996, 'count': 1},
 {'year': 1997, 'count': 2},
 {'year': 1998, 'count': 7},
 {'year': 1999, 'count': 2},
 {'year': 2000, 'count': 3},
 {'year': 2001, 'count': 4},
 {'year': 2002, 'count': 4},
 {'year': 2003, 'count': 4},
 {'year': 2004, 'count': 11},
 {'year': 2005, 'count': 2},
 {'year': 2006, 'count': 10},
 {'year': 2007, 'count': 5},
 {'year': 2008, 'count': 15},
 {'year': 2009, 'count': 13},
 {'year': 2010, 'count': 13},
 {'year': 2011, 'count': 9},
 {'year': 2012, 'count': 19},
 {'year': 2013, 'count': 23},
 {'year': 2014, 'count': 26},
 {'year': 2015, 'count': 44},
 {'year': 2016, 'count': 65},
 {'year': 2017, 'count': 112},
 {'year': 2018, 'count': 141},
 {'year': 2019, 'count': 131},
 {'year': 2020, 'count': 114},
 {'year': 2021, 'count': 94},
 {'year': 2022, 'count': 65}]

In [19]:
comediesPerYearOut = {"data":comediesPerYear}

In [20]:
comediesPerYearOut

{'data': [{'year': 1979, 'count': 2},
  {'year': 1982, 'count': 1},
  {'year': 1985, 'count': 1},
  {'year': 1987, 'count': 2},
  {'year': 1989, 'count': 5},
  {'year': 1990, 'count': 1},
  {'year': 1991, 'count': 4},
  {'year': 1992, 'count': 1},
  {'year': 1993, 'count': 2},
  {'year': 1994, 'count': 2},
  {'year': 1995, 'count': 1},
  {'year': 1996, 'count': 1},
  {'year': 1997, 'count': 2},
  {'year': 1998, 'count': 7},
  {'year': 1999, 'count': 2},
  {'year': 2000, 'count': 3},
  {'year': 2001, 'count': 4},
  {'year': 2002, 'count': 4},
  {'year': 2003, 'count': 4},
  {'year': 2004, 'count': 11},
  {'year': 2005, 'count': 2},
  {'year': 2006, 'count': 10},
  {'year': 2007, 'count': 5},
  {'year': 2008, 'count': 15},
  {'year': 2009, 'count': 13},
  {'year': 2010, 'count': 13},
  {'year': 2011, 'count': 9},
  {'year': 2012, 'count': 19},
  {'year': 2013, 'count': 23},
  {'year': 2014, 'count': 26},
  {'year': 2015, 'count': 44},
  {'year': 2016, 'count': 65},
  {'year': 2017, 'count': 112},
  {'year': 2018, 'count': 141},
  {'year': 2019, 'count': 131},
  {'year': 2020, 'count': 114},
  {'year': 2021, 'count': 94},
  {'year': 2022, 'count': 65}]}

In [21]:
with open("comediesPerYear.json", "w") as final:
    json.dump(comediesPerYearOut, final)

# Find count of secondary and tertiary genres for radar graph

In [22]:
comedies

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,primary genre,primary country
0,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,comedy,GB,NaN,tt0079470,8.0,395024.0,17.770,7.8,comedy,GB
1,tm69997,Richard Pryor: Live in Concert,MOVIE,"Richard Pryor delivers monologues on race, sex...",1979,R,78,"comedy, documentation",US,NaN,tt0079807,8.1,5141.0,4.718,7.5,comedy,US
2,tm138875,When Harry Met Sally...,MOVIE,"During their travel from Chicago to New York, ...",1989,R,96,"comedy, romance, drama",US,NaN,tt0098635,7.7,216199.0,15.123,7.4,comedy,US
3,tm133087,Steel Magnolias,MOVIE,"A young beautician, newly arrived in a small L...",1989,PG,119,"comedy, drama, romance",US,NaN,tt0098384,7.3,54946.0,11.690,7.2,comedy,US
4,tm147710,National Lampoon's Christmas Vacation,MOVIE,"It's Christmastime, and the Griswolds are prep...",1989,PG-13,97,"comedy, european",US,NaN,tt0097958,7.5,185760.0,18.862,7.2,comedy,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,tm1099969,Angeliena,MOVIE,"After a string of life-changing revelations, a...",2021,NaN,95,"comedy, drama, family",ZA,NaN,tt15303262,7.3,1164.0,3.827,6.0,comedy,ZA
957,tm1040816,Momshies! Your Soul is Mine,MOVIE,Three women with totally different lives accid...,2021,NaN,108,comedy,PH,NaN,tt14412240,5.8,27.0,2.170,NaN,comedy,PH
958,tm1165179,Kongsi Raya,MOVIE,Jack - a Chinese chef-manager who is in-line t...,2022,NaN,102,comedy,MY,NaN,tt16806990,7.0,66.0,2.112,NaN,comedy,MY
959,tm985215,Princess 'Daya'Reese,MOVIE,Reese is a con artist from Manila who dreams o...,2021,NaN,115,"comedy, romance",PH,NaN,tt13399802,7.1,50.0,1.383,NaN,comedy,PH
960,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,comedy,CO,NaN,tt14585902,3.8,68.0,26.005,6.3,comedy,CO

In [23]:
secondaryTertiary=[]
for movie in comedies['title'].unique():
    movieGenres = comedies.loc[comedies['title']==movie,'genres'].values.item()
    genres = movieGenres.split(', ')
    if len(genres)==2:
        secondaryTertiary.append(genres[1])
    elif len(genres)>2:
        secondaryTertiary.append(genres[1])
        secondaryTertiary.append(genres[2])

In [24]:
def countX(lst, x):
    return lst.count(x)

In [25]:
uniqueGenres = np.unique(np.array(secondaryTertiary))
countSecondaryTertiary = []
for genre in uniqueGenres:
    countSecondaryTertiary.append({'axis':genre,'value':countX(secondaryTertiary,genre)})

In [26]:
countOtherGenresOut = {"data":countSecondaryTertiary}

In [27]:
countOtherGenresOut

{'data': [{'axis': 'action', 'value': 46},
  {'axis': 'animation', 'value': 16},
  {'axis': 'crime', 'value': 39},
  {'axis': 'documentation', 'value': 111},
  {'axis': 'drama', 'value': 228},
  {'axis': 'european', 'value': 46},
  {'axis': 'family', 'value': 60},
  {'axis': 'fantasy', 'value': 30},
  {'axis': 'history', 'value': 1},
  {'axis': 'horror', 'value': 13},
  {'axis': 'music', 'value': 27},
  {'axis': 'reality', 'value': 2},
  {'axis': 'romance', 'value': 166},
  {'axis': 'scifi', 'value': 5},
  {'axis': 'sport', 'value': 12},
  {'axis': 'thriller', 'value': 17},
  {'axis': 'war', 'value': 2}]}

In [28]:
with open("countOtherGenresOut.json", "w") as final:
    json.dump(countOtherGenresOut, final)

# Parse information from credits

In [29]:
comedies

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,primary genre,primary country
0,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,comedy,GB,NaN,tt0079470,8.0,395024.0,17.770,7.8,comedy,GB
1,tm69997,Richard Pryor: Live in Concert,MOVIE,"Richard Pryor delivers monologues on race, sex...",1979,R,78,"comedy, documentation",US,NaN,tt0079807,8.1,5141.0,4.718,7.5,comedy,US
2,tm138875,When Harry Met Sally...,MOVIE,"During their travel from Chicago to New York, ...",1989,R,96,"comedy, romance, drama",US,NaN,tt0098635,7.7,216199.0,15.123,7.4,comedy,US
3,tm133087,Steel Magnolias,MOVIE,"A young beautician, newly arrived in a small L...",1989,PG,119,"comedy, drama, romance",US,NaN,tt0098384,7.3,54946.0,11.690,7.2,comedy,US
4,tm147710,National Lampoon's Christmas Vacation,MOVIE,"It's Christmastime, and the Griswolds are prep...",1989,PG-13,97,"comedy, european",US,NaN,tt0097958,7.5,185760.0,18.862,7.2,comedy,US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,tm1099969,Angeliena,MOVIE,"After a string of life-changing revelations, a...",2021,NaN,95,"comedy, drama, family",ZA,NaN,tt15303262,7.3,1164.0,3.827,6.0,comedy,ZA
957,tm1040816,Momshies! Your Soul is Mine,MOVIE,Three women with totally different lives accid...,2021,NaN,108,comedy,PH,NaN,tt14412240,5.8,27.0,2.170,NaN,comedy,PH
958,tm1165179,Kongsi Raya,MOVIE,Jack - a Chinese chef-manager who is in-line t...,2022,NaN,102,comedy,MY,NaN,tt16806990,7.0,66.0,2.112,NaN,comedy,MY
959,tm985215,Princess 'Daya'Reese,MOVIE,Reese is a con artist from Manila who dreams o...,2021,NaN,115,"comedy, romance",PH,NaN,tt13399802,7.1,50.0,1.383,NaN,comedy,PH
960,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,comedy,CO,NaN,tt14585902,3.8,68.0,26.005,6.3,comedy,CO

In [30]:
df_credits = []
for movie in comedies['id'].unique():
    df_temp = creditData.loc[creditData['id']==movie].reset_index(drop=True)
    df_credits.append(df_temp)
df_credits = pd.concat(df_credits).reset_index(drop=True)

In [31]:
directors = df_credits.loc[df_credits['role']=='DIRECTOR'].reset_index(drop=True)

In [32]:
comedies.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score', 'primary genre', 'primary country'],
      dtype='object')

In [33]:
directed = []
for director in directors['name'].unique():
    directorIMDBscore=[]
    moviesByDirector = countX(directors['name'].tolist(),director)
    if moviesByDirector>9:
        df_director = directors.loc[directors['name']==director]
        for movie in df_director['id'].unique():
            movie_df = comedies.loc[comedies['id']==movie]
            movie_df['Director'] = director
            directed.append(movie_df)
        # directed.append({'Director':director,'Avg IMDB Score':np.nanmean(directorIMDBscore).round(2)})

C:\Users\jacob\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [34]:
directed = pd.concat(directed).reset_index(drop=True)

In [35]:
comedies['Director'] = 'All Netflix Comedies'

In [36]:
comediesIMDB = comedies[['title','imdb_score','Director']].copy()

In [37]:
directedOut = directed[['title','imdb_score','Director']].copy()

In [38]:
dfOut = pd.concat([directedOut,comediesIMDB]).reset_index(drop=True)

In [39]:
dfOut

                                  title  imdb_score              Director
0             John Mulaney: New in Town         8.2           Ryan Polito
1           Bert Kreischer: The Machine         7.6           Ryan Polito
2               Jim Jefferies: Freedumb         7.7           Ryan Polito
3        Iliza Shlesinger: Freezing Hot         6.8           Ryan Polito
4     Seth Rogen's Hilarity for Charity         5.0           Ryan Polito
...                                 ...         ...                   ...
1048                          Angeliena         7.3  All Netflix Comedies
1049        Momshies! Your Soul is Mine         5.8  All Netflix Comedies
1050                        Kongsi Raya         7.0  All Netflix Comedies
1051               Princess 'Daya'Reese         7.1  All Netflix Comedies
1052                            Lokillo         3.8  All Netflix Comedies

[1053 rows x 3 columns]

In [40]:
dfOut.to_csv('directorIMDBscoreComparison.csv',index=False)

# Redo analysis for radar plot to get director for each movie

In [41]:
prolificDirectors = ['Ryan Polito','Jay Karas','Jay Chapman','Marcus Raboy','RaÃºl Campos','Jan Suter']

In [60]:
directorGenreOverlap = []
for director in prolificDirectors:
    directorProfile = creditData.loc[creditData['name']==director]
    directorMovies=[]
    for movie in directorProfile['id'].unique():
        directorMovies.append(movies.loc[(movies['id']==movie)&(movies['primary genre']=='comedy')])
    directorMovies = pd.concat(directorMovies).reset_index(drop=True)
    otherGenres=[]
    for movie in directorMovies['title'].unique():
        movieGenres = comedies.loc[comedies['title']==movie,'genres'].values.item()
        genres = movieGenres.split(', ')
        for genre in genres:
            if genre!='comedy':
                otherGenres.append(genre)
    directorGenreOverlap.append({'director':director,'genre':otherGenres})

In [61]:
directorGenreOverlap

[{'director': 'Ryan Polito',
  'genre': ['documentation',
   'documentation',
   'documentation',
   'documentation',
   'documentation',
   'documentation',
   'documentation',
   'documentation',
   'documentation',
   'documentation']},
 {'director': 'Jay Karas',
  'genre': ['documentation',
   'documentation',
   'documentation',
   'documentation',
   'documentation',
   'documentation']},
 {'director': 'Jay Chapman', 'genre': ['documentation', 'documentation']},
 {'director': 'Marcus Raboy',
  'genre': ['documentation', 'documentation', 'music']},
 {'director': 'RaÃºl Campos', 'genre': []},
 {'director': 'Jan Suter', 'genre': []}]

In [62]:
with open("directorGenreOverlap.json", "w") as final:
    json.dump(directorGenreOverlap, final)

In [45]:
directorMovies=[]
for director in prolificDirectors:
    directorProfile = creditData.loc[creditData['name']==director]
    
    for movie in directorProfile['id'].unique():
        moviesOut = (movies.loc[(movies['id']==movie)&(movies['primary genre']=='comedy')])
        moviesOut['Director'] = director
        directorMovies.append(moviesOut)
    
        
directorMovies = pd.concat(directorMovies).reset_index(drop=True)

C:\Users\jacob\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [48]:
directorMoviesYearOut = directorMovies[['title', 'release_year','Director']].copy()

In [50]:
directorMoviesYearOut.to_csv('directorMoviesYearOut.csv',index=False)